.cart__container {
    padding: 2rem 4rem;
}
.cart__container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.cart__container .titles {
    margin: 2rem 0 1rem 0;
}
.cart__container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.titles, .cart__item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: .5rem;
}
img {
    width: 175px;
    max-width: 100%;
    padding-right: 1.2rem;
}
.cart__item {
    border-top: 1px solid black;
    padding: 1rem 0
}
.product__title {
    padding-left: .5rem;
}
.total {
    padding-right: .5rem;
    justify-self: right;
}
.cart__product {
    display: flex;
}
.cart__item h3 {
    font-weight: 60000;
    font-size: 22px;
}
.remove:hover {
    background: lightcoral;
}

.remove {
    border: solid black;
    outline: none;
    margin-top: .7rem;
    cursor: pointer;
    padding: .2rem;
}
.cart__product__quantity {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100px;
    max-width: 100%;
    padding: .2rem;
}
.cart__product__quantity button {
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.cart__product__total__price {
    font-weight: bold;
    justify-self: right;
    font-size: 19px;
}
.cart__summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid black;
    padding-top: 2rem; 
}
.clear__cart, .continue__shopping, .checkout  {
    border: solid black;
    outline: none;
    margin-top: .7rem;
    cursor: pointer;
    padding: .2rem;
}
.clear__cart:hover, .continue__shopping:hover {
    background: lightcoral;
}
.continue__shopping a {
    text-decoration: none;
    padding: .2rem;
    color: black;
}
.continue__shopping i {
    padding-right: .3rem;
}
.subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
}
.cart__empty a {
    text-decoration: none;
    font-size: 19px;
}
.start__shopping, .start__shopping span {
    padding-top: 10px;
    color: black;
    text-decoration: underline;
}
.start__shopping i {
    color: black;
    padding-right: 5px;
}