.cart__container {
    padding: 2rem 4rem;
}
.cart__container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.cart__container .titles {
    margin: 2rem 0 1rem 0;
}
.cart__container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart__item,
.cart__container, .titles {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: .5rem;
}
img {
    width: 150px;
}
