.cart__container {
    padding: 2rem 4rem;
}
.cart__container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.cart__container .titles {
    margin: 2rem 0 1rem 0;
}
.cart__container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.titles, .cart__item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: .5rem;
}
img {
    width: 175px;
    max-width: 100%;
    padding-right: 1.2rem;
}
.cart__item {
    border-top: 1px solid black;
    padding: 1rem 0
}
.product__title {
    padding-left: .5rem;
}
.total {
    padding-right: .5rem;
    justify-self: right;
}
.cart__product {
    display: flex;
}
.cart__product > h3 {
    font-weight: 400;
}
.remove {
    border: solid black;
    outline: none;
    margin-top: .7rem;
    cursor: pointer;
}