.home__container {
    padding: 2rem 4rem;
    
}
.products {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: space-between;
}
.product {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 12px;
    margin-top: 10px;

}
.product > h3 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}
.home__container > h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.details__holder {
    padding: 10px;
}
.details {
    padding: 5px;
    text-align: left;
    font-weight: bold;
}
.price {
    font-size: 20px;
}
.homeBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}



@media (max-width: 1100px){
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 762px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}