* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f3f1ed;
}
img {
    width: 100%;
    object-fit: contain;
}

/* cart css */
.cart__container {
    padding: 2rem 4rem;
}
.cart__container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.cart__container .titles {
    margin: 2rem 0 1rem 0;
}
.cart__container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart__item, .cart__container, .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: .5rem;
}
