* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f3f1ed;
}
img {
    width: 100%;
    object-fit: contain;
}